debugpy 
numpy
matplotlib 
scikit-image 
albumentations 
tqdm 
pandas 
torchmetrics 
tensorboard 
imagecodecs
transformers[torch]==4.50.3
pillow
pycocotools

timm
accelerate

opencv-python
onnxruntime
faster-coco-eval

datasets
wandb
scikit-learn